@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<p>
	Это приложение создал <a href="https://github.com/MindHardt">Un1ver5e</a>.
	Здесь будут разные полезные штуки которые мне нужны.
</p>

