@using Un1ver5e.Web.III.Shared.Arklens

<label hidden=@(!Active) for=@Name>@Name</label><br />
<select hidden=@(!Active) id=@Name @onchange=@(e => Character.Set(GetByName(e.Value?.ToString())))>
	<option selected disabled hidden>---</option>
	@foreach(var option in Options)
	{
		<option value=@option.Name>@option.ToString()</option>
	}
</select>

@code {
	#pragma warning disable
	[Parameter]
	public bool Active { get; set; } = true;
	[Parameter]
	public string Name { get; set; }
	[Parameter]
	public Character Character { get; set; }
	[Parameter]
	public IEnumerable<CharacterElement> Options { get; set; }
	#pragma warning restore
	public CharacterElement? GetByName(string? name) => Options.FirstOrDefault(o => o.Name == name);
}
